name: Build and test

on:
  pull_request:
    branches:
      [ main ]

concurrency:
  group: ${{ github.workflow }} - ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: setup JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Create secrets.properties file
        env:
          SECRET_PROPERTIES: ${{secrets.SECRET_PROPERTIES}}
        run: echo $SECRET_PROPERTIES > data/secrets.properties

      - name: Run ktlintCheck on the codebase
        run: ./gradlew ktlintCheck

      - name: Run Unit Tests
        run: ./gradlew testDebugUnitTest

      - name: Run debug Build
        run: ./gradlew assembleDebug

      - name: Upload test results (XML)
        if: success()
        uses: actions/upload-artifact@v6
        with:
          name: test-results
          path: '**/build/test-results/test*UnitTest/**.xml'

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: "data/build/reports/jacoco/jacoco.xml"
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}